<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buenas Pelis</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/icons/palomitas.svg" type="image/x-icon">

</head>
<body>
    <%- include("templates/header") %>    
    <main>
        <h2>Todas las peliculas</h2>
        <div class="card">
            <% result.forEach(peli => { %>
                <a href="/peli/<%= peli.id_peli %>">
                    <div>   
                        <h3><%= peli.titulo_peli %></h3>                     
                        <img src="<%= peli.imagen_peli %>" alt="<% peli.titulo_peli %>">                           
                        <p><%= peli.fecha %></p>                     
                    </div>
                </a>
            <% }) %>
        </div>
    </main>    
</body>
</html>