<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buenas Pelis</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <%- include("templates/header") %>   
     
    <main>
        <div>
            <section>
                <h2><span><%= result[0].titulo_peli %></span></h2>
                <p>Director: <span><%= result[0].nombre_director %></span></p>
                <p>Año estreno: <span><%= result[0].fecha %></span></p>
                <p>Generos: 
                    <% result.forEach(peli => { %>
                        <span><%= peli.nombre_genero %></span>
                    <% }) %>
                </p>
                <p>Sinopsis:</p>
                <p><%= result[0].sinopsis %></p>
            </section>
            <section>
                <img src="<%= result[0].imagen_peli %>" alt="Poster de ">
            </section>
        </div>
        
    </main>    
</body>
</html>